Embedded Exam/MID EXAM/CSE3027_1_MID_Alpha_4/CSE3027_1_MID_Alpha_4_Node.txt
[{"id":"5ed0215d.6d8cb","type":"tab","label":"CSE3027_1_MID_ALPHA_4_Node","disabled":false,"info":""},{"id":"bdef3c92.e8e15","type":"serial in","z":"5ed0215d.6d8cb","name":"","serial":"3e18bb92.867da4","x":168,"y":264,"wires":[["6f73c9b.705c638"]]},{"id":"f6238c07.fe23e","type":"debug","z":"5ed0215d.6d8cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":962,"y":468,"wires":[]},{"id":"6f73c9b.705c638","type":"json","z":"5ed0215d.6d8cb","name":"","property":"payload","action":"","pretty":false,"x":476.5,"y":264,"wires":[["f6238c07.fe23e","ea00b6a.6c44848"]]},{"id":"bcea1898.c0b6b8","type":"ui_chart","z":"5ed0215d.6d8cb","name":"","group":"d706f2a3.219c6","order":5,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1084,"y":246,"wires":[[]]},{"id":"ea00b6a.6c44848","type":"function","z":"5ed0215d.6d8cb","name":"charFormatter","func":"if(msg.payload.hasOwnProperty('adc0'))\n{\n    return {topic:'adc0',payload:msg.payload.adc0};\n}\nelse if(msg.payload.hasOwnProperty('adc1'))\n{\n    return {topic:'adc1',payload:msg.payload.adc1};\n}\nelse\n{\n    return [];\n}","outputs":1,"noerr":0,"x":816,"y":247,"wires":[["bcea1898.c0b6b8"]]},{"id":"3981b758.ef84d8","type":"ui_button","z":"5ed0215d.6d8cb","name":"","group":"d706f2a3.219c6","order":8,"width":0,"height":0,"passthru":false,"label":"Button-A","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A is clicked","payloadType":"str","topic":"","x":151,"y":444,"wires":[["f6e7ee7.2b4e41","40ae1333.4b756c"]]},{"id":"eda93cb.d878ac","type":"ui_button","z":"5ed0215d.6d8cb","name":"","group":"d706f2a3.219c6","order":9,"width":0,"height":0,"passthru":false,"label":"Button-B","tooltip":"","color":"","bgcolor":"","icon":"","payload":"B is clicked","payloadType":"str","topic":"","x":154,"y":515,"wires":[["f6e7ee7.2b4e41","40ae1333.4b756c"]]},{"id":"62db0f09.33d65","type":"ui_button","z":"5ed0215d.6d8cb","name":"","group":"d706f2a3.219c6","order":10,"width":0,"height":0,"passthru":false,"label":"Button-C","tooltip":"","color":"","bgcolor":"","icon":"","payload":"C is clicked","payloadType":"str","topic":"","x":152,"y":577,"wires":[["f6e7ee7.2b4e41","40ae1333.4b756c"]]},{"id":"9c43e556.f5f7a8","type":"ui_button","z":"5ed0215d.6d8cb","name":"","group":"d706f2a3.219c6","order":11,"width":0,"height":0,"passthru":false,"label":"Button-D","tooltip":"","color":"","bgcolor":"","icon":"","payload":"D is clicked","payloadType":"str","topic":"","x":144,"y":641,"wires":[["f6e7ee7.2b4e41","40ae1333.4b756c"]]},{"id":"f6e7ee7.2b4e41","type":"serial out","z":"5ed0215d.6d8cb","name":"","serial":"3e18bb92.867da4","x":545,"y":446,"wires":[]},{"id":"40ae1333.4b756c","type":"ui_text","z":"5ed0215d.6d8cb","group":"d706f2a3.219c6","order":12,"width":0,"height":0,"name":"","label":"Button --","format":"{{msg.payload}}","layout":"row-left","x":556,"y":557,"wires":[]},{"id":"3e18bb92.867da4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d706f2a3.219c6","type":"ui_group","z":"","name":"Home","tab":"f626db68.8e32a8","disp":true,"width":"6","collapse":false},{"id":"f626db68.8e32a8","type":"ui_tab","z":"","name":"Serial Text","icon":"dashboard","disabled":false,"hidden":false}]
