Embedded Exam/FINAL EXAM/CSE3027_1_FINAL_Alpha_4/CSE3027_1_FINAL_Alpha_4_Node.txt
[{"id":"8dd7afaa.c0667","type":"tab","label":"Internal Temparature Sensor","disabled":false,"info":""},{"id":"833a6905.d9a518","type":"serial in","z":"8dd7afaa.c0667","name":"","serial":"3e18bb92.867da4","x":376,"y":300,"wires":[["bbd0575c.7622a8"]]},{"id":"96f2cd1a.84fdc","type":"debug","z":"8dd7afaa.c0667","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.adc08","targetType":"msg","x":931,"y":447,"wires":[]},{"id":"bbd0575c.7622a8","type":"json","z":"8dd7afaa.c0667","name":"","property":"payload","action":"","pretty":false,"x":706.5,"y":300,"wires":[["96f2cd1a.84fdc","dca60b2b.bcdc78"]]},{"id":"f2bab9bf.3dafc8","type":"ui_gauge","z":"8dd7afaa.c0667","name":"","group":"d706f2a3.219c6","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"oC","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"3","x":1135.5,"y":205,"wires":[]},{"id":"dca60b2b.bcdc78","type":"function","z":"8dd7afaa.c0667","name":"sendAdcValue","func":"msg.payload = msg.payload.adc08;\nreturn msg;","outputs":1,"noerr":0,"x":936.5,"y":252,"wires":[["f2bab9bf.3dafc8"]]},{"id":"3e18bb92.867da4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d706f2a3.219c6","type":"ui_group","z":"","name":"Home","tab":"f626db68.8e32a8","disp":true,"width":"6","collapse":false},{"id":"f626db68.8e32a8","type":"ui_tab","z":"","name":"Serial Text","icon":"dashboard","disabled":false,"hidden":false}]
