Embedded Exam/MID EXAM/CSE3027_1_MID_Alpha_3/CSE3027_1_MID_ALPHA_3_Node.txt
[{"id":"8c3c117.44aaef","type":"tab","label":"A weak signal by ADC0","disabled":false,"info":""},{"id":"1a29c977.b882d7","type":"serial in","z":"8c3c117.44aaef","name":"","serial":"3e18bb92.867da4","x":453.5,"y":517,"wires":[["3685a3cf.63e65c"]]},{"id":"2805815d.004d7e","type":"debug","z":"8c3c117.44aaef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.adc0","targetType":"msg","x":860.5,"y":513,"wires":[]},{"id":"3685a3cf.63e65c","type":"json","z":"8c3c117.44aaef","name":"","property":"payload","action":"","pretty":false,"x":646,"y":366,"wires":[["2805815d.004d7e","824a2959.c29348"]]},{"id":"c746bc91.8fc43","type":"ui_gauge","z":"8c3c117.44aaef","name":"","group":"d706f2a3.219c6","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Volt","format":"{{value}}","min":0,"max":"1.9","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"3","x":1075,"y":271,"wires":[]},{"id":"824a2959.c29348","type":"function","z":"8c3c117.44aaef","name":"sendAdcValue","func":"var x = msg.payload.adc0;\nx = 1.9/1023 * x ;\nmsg.payload = x.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":876,"y":318,"wires":[["c746bc91.8fc43"]]},{"id":"3e18bb92.867da4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d706f2a3.219c6","type":"ui_group","z":"","name":"Home","tab":"f626db68.8e32a8","disp":true,"width":"6","collapse":false},{"id":"f626db68.8e32a8","type":"ui_tab","z":"","name":"Serial Text","icon":"dashboard","disabled":false,"hidden":false}]
